@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --main-color: rgb(95, 214, 145);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: var(--main-color);
    font-family: 'Open sans', sans-serif;
}

h1 {
    font-size: 2rem;
}

.container {
    max-width: 50rem;
    margin: 5rem auto;
    background: #fff;
    padding: 5rem;
    border-radius: 1rem;
}

input, label, button {
    display: block;
    width: 100%;
    margin: 0.5rem;
}

input {
    font-size: 1.8rem;
    padding: 0.5rem 1rem;
}

input:focus {
    outline: 0.15rem solid var(--main-color);
}

button {
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    color: #000;
    background: #dfdfdf;  
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    color: #000;
    background: rgb(153, 153, 153);  
}

.display {
    font-size: 3rem;
    width: 100%;
    text-align: right;
}

.btn {
    width: 100%;
    height: 5rem;
    font-size: 3rem;
}

.equal {
    background: rgb(174, 174, 255);
}

.equal:hover {
    background: rgb(120, 120, 255);
}
